// .root-container {
//     @include grid;
//     @include place-items(center);
//     width: 100%;
//     height: 100vh;
//     overflow: hidden;
//     position: relative;
  
//     .heading {
//       @include font-bold;
//       color: white;
//       font-size: 7rem;
//       @include md {
//         font-size: 9rem;
//       }
//       position: relative;
//       z-index: 10;
//     }
  
//     .background {
//       position: absolute;
//       inset: 0;
//       z-index: 0;
//       background-size: cover;
//       background-position: bottom;
//       background-image: url('../../assets/blue-water.svg');
//       transform: translateY(0); // Default transform
//     }
  
//     .overlay {
//       position: absolute;
//       inset: 0;
//       z-index: 20;
//       background-size: cover;
//       background-position: bottom;
//       background-image: url('../../assets/Subtract.svg');
//     }
//   }
  

// .root-container {
//     display: grid; /* If you're using CSS Grid, you can define it directly */
//     place-items: center;
//     width: 100%;
//     height: 100vh;
//     overflow: hidden;
//     position: relative;
  
//     .heading {
//       font-weight: bold;
//       color: white;
//       font-size: 7rem;
//       @media (min-width: 768px) {
//         font-size: 9rem;
//       }
//       position: relative;
//       z-index: 10;
//     }
  
//     .background {
//       position: absolute;
//       inset: 0;
//       z-index: 0;
//       background-size: cover;
//       background-position: bottom;
//       background-image: url('../../assets/blue-water.svg');
//       transform: translateY(0); // Default transform
//     }
  
//     .overlay {
//       position: absolute;
//       inset: 0;
//       z-index: 20;
//       background-size: cover;
//       background-position: bottom;
//       background-image: url('../../assets/Subtract.svg');
//     }
//   }

.root-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  
    .heading {
      font-weight: bold;
      color: white;
      font-size: 7rem;
      @media (min-width: 768px) {
        font-size: 9rem;
      }
      position: relative;
      z-index: 10;
      transform: translateY(0); // Default transform
    }
  
    .background {
      position: absolute;
      inset: 0;
      z-index: 0;
      background-size: cover;
      background-position: bottom;
      background-image: url('../../assets/blue-water.svg');
      transform: translateY(0); // Default transform
    }
  
    .overlay {
      position: absolute;
      inset: 0;
      z-index: 20;
      background-size: cover;
      background-position: bottom;
      background-image: url('../../assets/Subtract.svg');
    }
  }
  
  