*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM sans", sans-serif;
}

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

// body{
//     background: url(../public/black-pearl.jpg);
//     color: lightgray;
// }

a{
    text-decoration: none;
    color: inherit;
}

section{
    height: 100vh;
    scroll-snap-align: center;
    // background: url(../public/black-pearl.jpg);
    background-color: #ECF0F1;
    color: #212F3D;
    overflow: hidden;
    // background-position: center; 
    // background-repeat: no-repeat; 
    // background-size: cover;
}

